*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    background: url(../Assets/bg7.webp);
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0,0, 0.5);
    padding: 28px;
    margin: 50px 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px #fff;
}
.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    border-bottom: solid 1px white;
}
.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.user-input-box:nth-child(2n){
    justify-content: end;
}
.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.user-input-box label{
    width: 95%;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}
.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid;
    padding: 0 10px;
}
.user-input-box input::placeholder{
    color: black;
}
.user-input-box select{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid;
    padding: 0 10px;
}
.form-submit-btn{
    margin-top: 15px;
}
.form-submit-btn input{
    display: block;
    margin-left: 180px;
    width: 250px;
    margin-top:10px ;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: rgb(20, 28, 141);
}
.form-submit-btn input:hover{
    background: rgb(72, 79, 180);
    color: #fff;
}
@media(max-width:600px){
    .container{
        min-width: 280px;
    }
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }
    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }
    .main-user-info::-webkit-scrollbar{
        width: 0;
    }

}